.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.form {
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 50px;
    min-height: 50%;
}

.textfiled {
    text-align: start;
    margin-bottom: 10px;
}

input {
    display: block;
    border: 1px solid #00fd;
    outline: none;
}